/* Basic CSS styles for navbar */
body {
    font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #646464;
    background-color: #f7f7f7;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #2c6fad;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px; /* Adjust the value for the desired roundness */
}

li a:hover {
    background-color: #2c6fad;
    color: white;
}


.head {
    margin: 30px 0 30px 0;
}
.btcimage {
    width: 190px;
    height: 40 px;

}

.head div {
    max-width: 940px;
    margin: auto;
    position: relative;
    z-index: 100;
}

div {
    display: block;
}

.menusimple {
    margin: 0;
    position: absolute;
    top: 8px;
    left: 245px;
    padding: 0;
    height: 35px;
}
.body {
    background-color: #f7f7f7;
    max-width: 940px;
    margin: auto;
    position: relative;
}


.nav-container {
    max-width: 940px;
   margin: auto;
    
    position: relative;
    z-index: 100;
}

.content {
    position: relative;
    padding: 30px 40px 40px 40px;
    margin: 0 5px;
    text-align: justify;
    background-color: #fff;
    min-height: 400px;
    border: 2px solid #ebebeb;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.mainsummary {
    font-size: 145%;
    color: #7b7c7c;
    margin: 20px auto 45px auto;
    text-align: center;
}

.mainsummary, .mainvideo, .mainlist {
    text-align: center;
}

.mainvideo iframe {
    width: 640px;
    height: 360px;
}

.mainlist {
    font-size: 125%;
    margin: 30px 0;
    text-align: center; /* Keep this to center the container itself */
}

.mainlist > div {
    text-align: left; /* Add this to align the text of each div inside mainlist to the left */
    display: inline-block; /* This makes the div behave like an inline element but retain block properties */
    width: 100%; /* This ensures the div takes the full width of its container */
}

.mainlist img {
    
    vertical-align: top;
    position: relative;
    top: 4px;
    margin-right: 10px;
    float: left; /* This floats the image to the left of the text */
    height: 48px;
    width: 48px;
}

.mainlist>div>div {
    display: block; /* Change this to block if you want each div to be on its own line */
    line-height: 1.5em;
    text-align: left; /* Ensure text within these divs aligns to the left */
    color: #7b7c7c;
}

.mainlist>div:first-child+div {
    text-align: center;
}

.mainlist>div {
    width: 250px;
    display: inline-block;
}
.content p, .content li {
    line-height: 1.5em;
}
.content {
    position: relative;
    padding: 30px 40px 40px 40px;
    margin: 0 5px;
    text-align: justify;
    background-color: #fff;
    min-height: 400px;
    border: 2px solid #ebebeb;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

a:link, a:visited, a:active {
    color: #2c6fad;
    text-decoration: none;
}



a img, a:link img, a:visited img, a:active img {
    border: 0;
}

.mainoverview {
    font-size: 130%;
    text-align: center;
    margin-bottom: 10px;
}

.mainoverviews {
    font-size: 145%;
    text-align: center;
    margin-bottom: 10px;
}
.mainoverviews a {
    margin: 0 13px; 
}

.footer {
    position: relative;
    top: -2px;
    padding: 20px 0 20px 40px;
    text-align: left;
    font-size: 94%;
    max-width: 940px;
}
.footer div {
    padding-top: 6px;
}
.footer div a {
    margin-right: 15px;
    white-space: nowrap;
}
.footer div span {
    margin-top: 15px;
    display: block;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.mainbutton { 
    text-align: center;
}
.mainbutton a, .mainbutton a:link, .mainbutton a:visited, .mainbutton a:active {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 400;
    font-size: 150%;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    text-align: left;
    display: inline-block;
    background-color: #2c6fad;
    border: 1px solid #20598f;
    background-image: -o-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
    background-image: -moz-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
    background-image: -webkit-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
    background-image: -ms-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
    background-image: linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
    color: #fff;
    padding: 15px 20px 20px 20px;
    margin: 40px 0 40px 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}



